<div class='nav-container'>
  <div class='nav-left'>
    <%= link_to 'TRISTAN ', root_path, class: 'nav-title' %>
    <%= link_to '', root_path, class: 'nav-text-update nav-title' %>
  </div>
  <div class='nav-right'>
    <%= link_to 'RESUME', '/resume.pdf', target: '_blank', class: 'nav-link' %>
    <%= link_to 'ABOUT', about_path, class: 'nav-link' %>
    <%= link_to 'CONTACT', contact_path, class: 'nav-link-btn' %>
  </div>
</div>
