<div class="case-study-header">
  <div class="case-study-header-info">
    <h1>
      Fetch
    </h1>
    <div class="case-study-tech-stack-text">
      <p>
        Ruby | Ruby on Rails | Heroku | Javascript | CSS | HTML | PostgreSQL | Devise | Carrierwave | Cloudinary | Mapbox API | Geocoder
      </p>
    </div>
    <div class="content-btn-container">
      <%= link_to 'SEE PROJECT', 'http://fetch-dogs.herokuapp.com', target: 'blank', class: 'content-btn content-btn-red'  %>
      <%= link_to 'SEE CODE', 'https://github.com/yeniv/fetch', target: 'blank', class: 'content-btn content-btn-red'  %>
    </div>
  </div>
</div>

<div class="case-study-container case-study-container-white">
  <div class="case-study-text-box case-study-left-text red-text red-border white-bg">
    <p>
      At <a href="http://www.lewagon.com" class="text-btn-red" target="blank">Le Wagon</a>, I worked in a team of 4 to build a web app from scratch with the same functionality as <a href="http://www.airbnb.com" class="text-btn-red" target="blank">Airbnb</a>. We concepted, designed, and coded Fetch in a week.
    </p>
  </div>
  <img src="<%= image_path('fetch/fetch_1.jpg') %>" class="case-study-img-lg-sq case-study-img-top red-border" alt="homepage screenshot of the website fetch, which connects dogless dog lovers with dogs that need walking.">
</div>

<div class="case-study-container case-study-container-white">
  <img src="<%= image_path('fetch/fetch_3.jpg') %>" class="case-study-img-lg case-study-img-top red-border" alt="dogs who need walking on the website fetch">
  <div class="case-study-text-box case-study-right-text red-text red-border white-bg">
    <p>
      Fetch connects dogless dog-lovers with dogs who need a walk. Win-win!
    </p>
  </div>
</div>

<div class="case-study-container case-study-container-red white-text">
  <div class="case-study-text-box case-study-left-text red-bg white-text white-border">
    <p>
      Owners add their dog to the website, along with a photo which is uploaded to <a href="https://www.cloudinary.com/" class="text-btn-white" target="blank">Cloudinary</a> with <a href="https://github.com/carrierwaveuploader/carrierwave" class="text-btn-white" target="blank">Carrierwave</a>.
    </p>
  </div>
  <img src="<%= image_path('fetch/fetch_5.jpg') %>" class="case-study-img-lg case-study-img-top white-border" alt="dogs who need walking on the website fetch">
</div>

<div class="case-study-container case-study-container-red white-text">
  <img src="<%= image_path('fetch/fetch_4.jpg') %>" class="case-study-img-md white-border" alt="a dog marker patiently waiting in Leidschendam to be walked.">
  <div class="case-study-text-box case-study-right-text red-bg white-text white-border">
    <p>
      The exact latitude-longitude of the owner's location is calculated using <a href="http://www.rubygeocoder.com/" class="text-btn-white" target="blank">Geocoder</a> and a marker is placed on a <a href="https://www.mapbox.com/" class="text-btn-white" target="blank">Mapbox</a> map in Javascript.
    </p>
  </div>
</div>

<div class="case-study-container case-study-container-white">
  <div class="case-study-text-box case-study-left-text red-text red-border white-bg">
    <p>
      Walkers can search for dogs anywhere in world by using the world map or entering their location, which begins an active record search.
      <br>
    </p>
  </div>
  <img src="<%= image_path('fetch/fetch_6.jpg') %>" class="case-study-img-md red-border" alt="world map with dog markers placed on every contenent. Except Antarctica. No dogs to walk in Antarctica.">
</div>

<div class="case-study-container case-study-container-red white-text">
  <div class="case-study-text-box case-study-left-text red-bg white-text white-border">
    <p>
      When a dog card is clicked, a Javascript event listener  triggers a Mapbox flyto method which moves the map to the dog's location and opens a popup to request a walk.
    </p>
  </div>
  <img src="<%= image_path('fetch/fetch_7.jpg') %>" class="case-study-img-lg white-border" alt="cool beagle dog named big ears who can hear everything waiting to be walked in amsterdam">
</div>

<div class="case-study-container case-study-container-white red-text">
  <img src="<%= image_path('fetch/fetch_9.jpg') %>" class="case-study-img-lg red-border" alt="screenshot from the website Fetch where a user is requesting to walk a bulldog named Bruce.">
  <div class="case-study-text-box case-study-right-text white-bg red-text red-border">
    <p>
      When walkers find a dog they'd like to walk, they make a request by proposing a date, pickup and drop off times, and a personalised message.
    </p>
  </div>
</div>

<div class="case-study-container case-study-container-white red-text">
  <div class="case-study-text-box case-study-left-text white-bg red-text red-border">
    <p>
      Owners and walkers can view all their requests on their profile page and manage their dogs (if any). But only owners have the power to accept or deny requests.
    </p>
  </div>
  <img src="<%= image_path('fetch/fetch_10.jpg') %>" class="case-study-img-lg-sq red-border" alt="screenshot from the website Fetch where a dog owner is reviewing the requests recieved to walk his dog.">
</div>

