<!-- header section -->
<div class="home-container site-container-white">
  <div class="home-header">
    <h1>
      Creative problem solver<span>*</span><br class="headline-break">meets rails full stack<br class="headline-break">
      developer.
    </h1>
    <h3>
      *Award-winning, just sayin'
    </h3>
    <i class="home-arrow fas fa-chevron-down"></i>
  </div>
</div>
<!-- run forrest run section -->
<div id="forrest" class="site-container site-container-red">
  <div class="home-content">
    <img src="<%= image_path('forrest/forrest_hero_wide.jpg') %>" class="home-image-forrest white-border-home" alt="forrest gump running across a map of america">
    <div class="home-description home-description-red white-border-home white-text-home">
      <h2 class='white-underline'>
        Run, Forrest! Ruuuuuuun!
      </h2>
      <p class="product-hunt-padding-top">
        Every time <a class='text-btn-white' href='https://twitter.com/search?q=%23runforrestrun'>#runforrestrun</a> is Tweeted, Forrest Gump runs another mile across America.
      </p>
      <a href="https://www.producthunt.com/posts/run-forrest-run?utm_source=badge-top-post-badge&utm_medium=badge&utm_souce=badge-run-forrest-run" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/top-post-badge.svg?post_id=159143&theme=light&period=daily" alt="Run, Forrest! Run! - Tweet #runforrestrun to make Forrest Gump run another mile. | Product Hunt Embed" style="width: 250px; height: 54px;" width="250px" height="54px" /></a>
      <div class="content-btn-container product-hunt-padding-bottom">
        <%= link_to 'SEE PROJECT', 'http://forrestgump.live', target: 'blank', class: 'content-btn content-btn-white' %>
        <%= link_to 'CASE STUDY', forrest_path, class: 'content-btn content-btn-white' %>
      </div>
    </div>
  </div>
</div>
<!-- hiive section -->
<div id="hiive" class="site-container site-container-white">
  <div class="home-content">
    <div class="home-description home-description-white red-border red-text">
      <h2 class='red-underline'>
        hiive
      </h2>
      <p>
        hiive helps content creators monetise their channel by instantly transforming referral links into online stores.
      </p>
      <div class="content-btn-container">
        <%= link_to 'SEE PROJECT', 'http://hiive.buzz', target: 'blank', class: 'content-btn content-btn-red'  %>
        <%= link_to 'CASE STUDY', hiive_path, class: 'content-btn content-btn-red'  %>
      </div>
    </div>
    <img src="<%= image_path('hiive/hiive_home_page_center.jpg') %>" class="home-image-hiive red-border" alt="hiive.buzz website homepage screnshot">
  </div>
</div>
<!-- fetch section -->
<div id="fetch" class="site-container site-container-red">
  <div class="home-content">
        <img src="<%= image_path('fetch/fetch_home_screen_center.jpg') %>" class="home-image-fetch white-border-home" alt="forrest gump running across a map of america">
    <div class="home-description home-description-red white-border-home white-text-home">
      <h2 class='white-underline'>
        Fetch
      </h2>
      <p>
        No dog? No worries. Find one that needs walking anywhere in the world.
      </p>
      <div class="content-btn-container">
        <%= link_to 'SEE PROJECT', 'http://fetch-dogs.herokuapp.com', target: 'blank', class: 'content-btn content-btn-white'  %>
        <%= link_to 'CASE STUDY', fetch_path, class: 'content-btn content-btn-white'  %>
      </div>
    </div>
  </div>
</div>
